<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet"
	    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
	    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
	    crossorigin="anonymous">
								
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	<title>Créer une question</title>

	</head>
	<body>

	<div class="bg-dark">
        	<div class="container">
        		<div class="row">
        			<nav class="col navbar navbar-expand-lg navbar-dark bg-dark">
						<a class="navbar-brand" href="#">
							<img src="/ressource/logoHRMS.png" width="45" height="45" alt="logo"/>
							Application web de gestion des employés
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            				<span class="navbar-toggler-icon"></span>
						</button>
						<div id="navbarContent" class="collapse navbar-collapse">
							<ul class="navbar-nav ">
			      				<li class="nav-item active">
			      					<a class="nav-link" th:href="@{/adminHomePage}">Entreprise</a>
			      				</li>
			     			    <li class="nav-item">
			     			    	<a class="nav-link" th:href="@{/connexion}">Congé</a>
			     			    </li>
			     			    <li class="nav-item">
			     			    	<a class="nav-link" th:href="@{/connexion}">Recrutement</a>
			     			    </li>
    			 			</ul>
    			 		</div>
					</nav>
				</div>
			</div>
		</div>


	<div class="container">
		<div class="row my-3">
			<div class="col">
				<h2><font face="Times New Roman" color="#443c99">Mise à jour des informations de l'employé :</font></h2>
			</div>
		</div>
		
		
		
		
		
		<div class="row">		
			<div class="col">
			<!--  -->
			<form method="post" th:action="@{/updateEmployePost}"  th:object="${employe}">	
					
				    <div class="form-group">
						<label for="QuestionOption1">Prénom : </label> 
						<input
							type="text" th:field="*{prenom}" class="form-control" id="QuestionOption1" 
							aria-describedby="QuestionOption1Help" placeholder="Saisir le prénom"> <small
							id="QuestionOption1Help" class="form-text text-muted">Merci de saisir le prénom.</small>
					</div>
					<div class="form-group">
						<label for="QuestionOption1">Nom : </label> 
						<input
							type="text" th:field="*{nom}" class="form-control" id="QuestionOption1" 
							aria-describedby="QuestionOption1Help" placeholder="Saisir le nom"> <small
							id="QuestionOption1Help" class="form-text text-muted">Merci de saisir le nom.</small>
					</div>
					<div class="form-group">
						<label for="QuestionOption1">Numéro de téléphone : </label> 
						<input
							type="text" th:field="*{numtelephone}" class="form-control" id="QuestionOption1" 
							aria-describedby="QuestionOption1Help" placeholder="Saisir le numéro de téléphone"> <small
							id="QuestionOption1Help" class="form-text text-muted">Merci de saisir le numéro de téléphone.</small>
					</div>
					<div class="form-group">
					<label for="PublicAvailability">Status : </label> 
					<select th:field="*{status}" id="PublicAvailability" class="form-control">
						<option th:value="1">Employé actuel</option>
						<option th:value="0">Employé ancien</option>
					</select>
					<small
						id="categoryHelp" class="form-text text-muted">Merci de spécifier le status de l'employé.</small>
				</div>
				
				<div class="form-group">
					<label for="PublicAvailability">Nom du poste : </label> 
					<select th:field="*{postenom}" id="PublicAvailability" class="form-control">
						<option th:each="poste: ${listPostes}" th:value="${poste.postenom}" th:utext="${poste.postenom}"></option>
					</select>
					<small
						id="categoryHelp" class="form-text text-muted">Merci de spécifier le nom du poste de l'employé.</small>
				</div>
				<div class="form-group">
					<label for="categoryInput">Situation d'emploi : </label> 
					<select th:field="*{situationemploi}" id="categoryInput" class="form-control">
						<option th:value="CDD">CDD</option>
						<option th:value="CDI">CDI</option>
						<option th:value="Freelance">Freelance</option>
						<option th:value="Stagiaire">Stagiaire</option>
					</select>
					<small
						id="categoryHelp" class="form-text text-muted">Merci de spécifier la situation d'emploi de l'employé.</small>
				</div>
					<div class="form-group">
						<input
							type="hidden" th:field="*{id_employe}" class="form-control" id="QuestionText" 
							th:value="${idemp}" > 
					</div>
				
					
					<button type="submit" class="btn btn-primary">Valider</button>
					
			  </form>

		</div>
		
	</div>
		
		</div>
		<br /> 
	

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>